<mat-sidenav-container class="container">
  <mat-sidenav class="left-sidenav" mode="side" opened>

    <mat-nav-list>
       <mat-icon id="logo" class="sidenav-icon">
          verified
        </mat-icon>
    </mat-nav-list>

    <mat-nav-list>
      <button mat-icon-button class="sidenav-icon">
          <mat-icon>email</mat-icon>
      </button>
    </mat-nav-list>

    <mat-nav-list>
      <button mat-icon-button class="sidenav-icon">
          <mat-icon>account_tree</mat-icon>
      </button>
    </mat-nav-list>

    <mat-nav-list>
      <button mat-icon-button class="sidenav-icon">
          <mat-icon>fact_check</mat-icon>
      </button>
    </mat-nav-list>

    <mat-nav-list>
      <button mat-icon-button class="sidenav-icon">
          <mat-icon>alarm</mat-icon>
      </button>
    </mat-nav-list>

    <mat-nav-list>
      <button mat-icon-button class="sidenav-icon">
          <mat-icon>equalizer</mat-icon>
      </button>
    </mat-nav-list>

    <mat-nav-list class="settings">
      <button mat-icon-button class="sidenav-icon">
          <mat-icon>settings</mat-icon>
      </button>
    </mat-nav-list>

    <mat-nav-list class="arrow">
      <button mat-icon-button class="sidenav-icon">
          <mat-icon>arrow_forward_ios</mat-icon>
      </button>
    </mat-nav-list>

  </mat-sidenav>
  <mat-sidenav-content>
